
.imgStyle {
    @apply bg-gradient-to-r from-blue-500 to-indigo-500 rounded-l-md;
    position: relative;
    overflow: hidden;
}

.cartoonImg {
    background: url('../public/assets/sky.jpg') no-repeat;
    position: absolute;
    bottom: 0;left: 0;right: 0;top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 65% 0px;
    z-index: 0;
}

.cloud1 {
    background: url('../public/assets/cloud.png')no-repeat;
    position: absolute;
    top: 65%; left: 10%;
    width: 250px;
    height: 200px;
    background-size: contain;
    z-index: 1;
    transform: translateX(290%);
    animation: cloud1 25.5s ease-in 5.9s infinite;
}

.cloud2 {
    background: url('../public/assets/cloud2.png') no-repeat;
    position: absolute;
    top: 49%; left: 50%;
    width: 200px;
    height: 100px;
    background-size: contain;
    z-index: 2;
    transform: translateX(290%);
    animation: cloud2 18.5s ease-in .9s infinite;
}

/* CSS Animation */
@keyframes cloud1{
    0%{
        transform: translateX(290%);
    }
    100%{
        transform: translateX(-250%);
    }
}

@keyframes cloud2{
    0%{
        transform: translateX(160%);
    }
    100%{
        transform: translateX(-250%);
    }
}